.div1{
    border-radius: 10px;
    border-left: solid green 10px;
    text-align: justify;
    background-color:rgba(36, 192, 36, 0.05);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;  
    width: 800px;
    margin: 25px auto;
    padding: 25px;
}

.div2{
    border-radius: 10px;
    border-left: double hsl(234, 69%, 48%)10px;
    text-align: justify;
    background-color: hsla(234, 69%, 48%, 0.08);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;  
    width: 800px;
    margin: 25px auto;
    padding: 25px;
}

.div3{
    border-radius: 10px;
    border-left: solid hsl(309, 78%, 45%)10px;
    text-align: justify;
    background-color: hsla(309, 78%, 45%, 0.1);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;  
    width: 800px;
    margin: 25px auto;
    padding: 25px;
}

.div4{
    border-radius: 10px;
    border-left: double rgb(248, 96, 25)10px;
    text-align: justify;
    background-color: hsla(37, 100%, 40%, 0.1);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;  
    width: 800px;
    margin: 25px auto;
    padding: 25px;
}

#paragrafo1{
    font-style: italic;
    margin: 25px;
    padding: 15px;
    text-align: right;
    text-transform: capitalize;
}

#id1{
    margin: 25px auto;
    width: 800px;
}

#id2{
    margin: 25px auto;
    width: 800px;
}